<div class="container-fluid align-items-center justify-content-center p-4 border border-2 border-primary rounded rounded-2 ">
    <h2 style="text-align:center">Register Student</h2>
    <form>
        <dl>
            <dt>Enter Name</dt>
            <dd><input type="text" class="form-control">

            <dt>Enter Password</dt>
            <dd><input type="text" class="form-control">

            <dt>Confirm Password</dt>
            <dd><input type="text" class="form-control">

            <dt>Enter Age</dt>
            <dd><input type="number" class="form-control">
            
            <dt>Select Class</dt>
            <select class="form-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>

            <dt class="form-group form-group-lg">Fee Paid?</dt>
                <input type="radio">Yes
                <input type="radio">No
        </dl>

        <button class="btn btn-danger w-100">Register</button>

    </form>
</div>