<div class="container-fluid align-items-center justify-content-center " style="height: 400px;width:400px;margin-top: 50px;">
    <h2 style="color:red; text-align: center;">{{title}}</h2>
    <form #logInForm="ngForm" class="border border-2 border-primary rounded rounded-2 p-3" (submit)="submit(logInForm.value)">
        
        <dl>
            <dt>Enter UserName</dt>
            <dd><input type="text" class="form-control" ngModel name="userName" #userName="ngModel">

            <dt>Enter UserName</dt>
            <dd><input type="text" class="form-control" ngModel name="password" #password="ngModel">
        </dl>

        <button class="btn btn-primary w-50" >Log In</button>


    </form>




</div>

