<div class="container-fluid">
        <h2>Amazon Search</h2>
        <div class="input-group">
            <select class="input-group-text">
                <option>All</option>
            </select>
            <input type="text" class="form-control">
            <button class="btn btn-warning">
                <span class="bi bi-search"></span>
            </button>
        </div>
        <h2>Netflix Register</h2>
        <div class="bg-dark p-4">
            <div class="input-group input-group-lg">
                <input type="email" placeholder="Your email address" class="form-control">
                <button class="btn btn-danger">
                    Get Started <span class="bi bi-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>